.channel
  display: flex
  flex-direction: column
  height: 100%

  &__header
    display: flex
    justify-content: space-between
    padding: 16px 12px
    border-bottom: 1px solid rgba(#fff, .05)
    height: 48px

    &__name
      display: flex
      align-items: center
      gap: 4px
      font-size: 16px

    &__tail
      display: flex
      align-items: center
      gap: 10px
      color: #b9bbbe

  &__body
    padding: 16px
    flex-grow: 1
